PORT=5000\nMONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/mydb?retryWrites=true&w=majority\nCLOUDINARY_CLOUD_NAME=your_cloud_name\nCLOUDINARY_API_KEY=your_api_key\nCLOUDINARY_API_SECRET=your_api_secret\nJWT_SECRET=your_jwt_secret\nJWT_EXPIRES_IN=7d\nCLIENT_URL=http://localhost:3000